/* ---- Informação ---- */
main h2{
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 50px;
}

main{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.harry-potter{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.harry-potter .book{
    width: 183px;
    height: 285px;
}

.harry-potter .book img{
    width: 100%;
}