*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* Usa-se para tirar o bullet das lis*/
ul, li{
    list-style-type: none;
    text-decoration: none;
}

/* Usa-se para tirar o sublinhado das as*/
a{
    text-decoration: none;
}