@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;300;400;600;700;800&display=swap');

/* O font-size de 62.5%, transforma a fonte padrão de 16px para 10px */
html{
    font-size: 62.5%;
}

/* ---- Cabeçalho ---- */
.cabecalho{
    padding: 5px 10px;
    background-color: #0d1a38;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.cabecalho .logo img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.cabecalho .logo h1{
    color: #e2b25e;
    font-size: 2rem;
    margin-left: 10px;
}

.menu{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.menu li a{
    padding: 10px 5px;
    margin-left: 1.5rem;
    transition: 0.3s ease-in-out;
}

a:not(a[target=_blank]){
    color: #e2b25e;
}

.menu li a:hover{
    background-color: #e2b25e;
    color: #ec0707;
}

/* ---- Conteúdo ---- */
body{
    background-color: #132652;
    font-family: 'Public Sans', sans-serif;
    font-size: 3rem;
}

.home h1{
    font-size: 3rem;
    text-align: center;
}
.home p{
    font-size: 2rem;
    text-align: justify;
}

/* Informação */
main{
    background-color: #b9b6bb;
    padding: 30px;
    min-width: 400px;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
}

main .titulo-geral{
    text-align: center;
    font-size: 3.5rem;
}

main h2{
    font-size: 2.2rem;
    margin-top: 40px;
    margin-bottom: 15px;
}

main h3{
    font-size: 1.8rem;
    margin-bottom: 5px;
}

main p{
    font-size: 1.5rem;
    text-align: justify;
    line-height: 24px;
}

section{
    margin-bottom: 4rem;
}

hr{
    width: 100%;
    border-color: #000000;
}

/* Rodapé */
.rodape{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #132652;
    width: 100%;

    border-top: solid 3px #000000;
    position: absolute;
}

.rodape .title{
    color: #000000;
}

.rodape .redes-sociais{
    display: flex;
    flex-direction: column;
}